## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =  ['T9', 'T13', 'T12', 'T2','T25', 'T14', 'T15', 'T29', 'T17', 'T10']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1732        1
C4120        1
C1820        1
C1283        1
C2600        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C0           3
C2710        3
C1260        3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300',
                              'C1280', 'C1230', 'C1400', 'C2300', 'C7200', 'C1240', 'C8000', 'C7120',
                              'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1278', 'C1238', 'C1235',
                              'C1237', 'C7210', 'C1720', 'C2400', 'C4100', 'C1257', 'C1600', 'C1260', 'C0',
                              'C2710', 'C1246', 'C1234', 'C1267', 'C1256', 'C3200', 'C2380', 'C8210', 'C4200',
                              'C1236', 'C1248', 'C1370', 'C1820', 'C2570', 'C6100', 'C1245', 'C1580', 'C1570',
                              'C1732', 'C2561', 'C4500', 'C2170', 'C2500', 'C2190', 'C1283', 'C4120',
                               'C5200', 'C1900', 'C2150','C2600', 'C1728', 'C3700'  ]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
affiliation_dummies = pd.get_dummies(application_df['AFFILIATION'])
use_case_dummies = pd.get_dummies(application_df['USE_CASE'])
organization_dummies = pd.get_dummies(application_df['ORGANIZATION'])
special_consideration_dummies = pd.get_dummies(application_df['SPECIAL_CONSIDERATIONS'])
income_amount_dummies = pd.get_dummies(application_df['INCOME_AMT'])
application_type_dummies = pd.get_dummies(application_df['APPLICATION_TYPE'])
classification_dummies = pd.get_dummies(application_df['CLASSIFICATION'])

In [10]:
application_df = pd.concat([application_df, affiliation_dummies], axis=1)
application_df = pd.concat([application_df, use_case_dummies], axis=1)
application_df = pd.concat([application_df, organization_dummies], axis=1)
application_df = pd.concat([application_df, special_consideration_dummies], axis=1)
application_df = pd.concat([application_df, income_amount_dummies], axis=1)
application_df = pd.concat([application_df, application_type_dummies], axis=1)
application_df = pd.concat([application_df, classification_dummies], axis=1)
application_df.drop(['AFFILIATION', 'USE_CASE','ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT', 'APPLICATION_TYPE', 'CLASSIFICATION'], axis=1, inplace=True)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,CompanySponsored,Family/Parent,Independent,National,Other,Regional,CommunityServ,...,T6,T7,T8,C1000,C1200,C2000,C2100,C3000,C7000,Other
0,1,5000,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,6692,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL'])

In [12]:
X[:5]

,STATUS,ASK_AMT,CompanySponsored,Family/Parent,Independent,National,Other,Regional,CommunityServ,Heathcare,...,T6,T7,T8,C1000,C1200,C2000,C2100,C3000,C7000,Other
0,1,5000,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,108590,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,142590,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [13]:
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [14]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=43)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

Goal: Acc = 75%

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 15)                660
_________________________________________________________________
dense_1 (Dense)              (None, 10)                160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 831
Trainable params: 831
Non-trainable params: 0
_________________________________________________________________

2023-05-23 11:02:51.264982: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-23 11:02:51.265295: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
print(y_train.shape)

(25724,)

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train.values, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5852 - accuracy: 0.7051
Epoch 2/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5593 - accuracy: 0.7252
Epoch 3/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5566 - accuracy: 0.7268
Epoch 4/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5547 - accuracy: 0.7267
Epoch 5/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5534 - accuracy: 0.7274
Epoch 6/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5518 - accuracy: 0.7280
Epoch 7/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5510 - accuracy: 0.7290
Epoch 8/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5501 - accuracy: 0.7283
Epoch 9/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5492 - accuracy: 0.7298
Epoch 10/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5489 - accuracy: 0.7294
Epoch 11/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5483 - accuracy: 0.7299
Epoch 12/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5475 - accuracy: 0.7291
Epoch 13/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5478 - accuracy: 0.7299
Epoch 14/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5471 - accuracy: 0.7307
Epoch 15/100
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5470 - accuracy: 0.7294
Epoch 16/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5467 - accuracy: 0.7306
Epoch 17/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5466 - accuracy: 0.7307
Epoch 18/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5465 - accuracy: 0.7315
Epoch 19/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5460 - accuracy: 0.7303
Epoch 20/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5458 - accuracy: 0.7306
Epoch 21/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5458 - accuracy: 0.7310
Epoch 22/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5454 - accuracy: 0.7312
Epoch 23/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5454 - accuracy: 0.7319
Epoch 24/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5451 - accuracy: 0.7329
Epoch 25/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5450 - accuracy: 0.7315
Epoch 26/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.5449 - accuracy: 0.7315
Epoch 27/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5447 - accuracy: 0.7314
Epoch 28/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5445 - accuracy: 0.7336
Epoch 29/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5445 - accuracy: 0.7327
Epoch 30/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5448 - accuracy: 0.7326
Epoch 31/100
25724/25724 [==============================] - 3s 126us/sample - loss: 0.5445 - accuracy: 0.7310
Epoch 32/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5441 - accuracy: 0.7317
Epoch 33/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5438 - accuracy: 0.7333
Epoch 34/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5444 - accuracy: 0.7315
Epoch 35/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5436 - accuracy: 0.7324
Epoch 36/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.5438 - accuracy: 0.7331
Epoch 37/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5441 - accuracy: 0.7327
Epoch 38/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5435 - accuracy: 0.7341
Epoch 39/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5434 - accuracy: 0.7331
Epoch 40/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5436 - accuracy: 0.7327
Epoch 41/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5438 - accuracy: 0.7330
Epoch 42/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.5432 - accuracy: 0.7336
Epoch 43/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.5435 - accuracy: 0.7333
Epoch 44/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5435 - accuracy: 0.7325
Epoch 45/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5432 - accuracy: 0.7326
Epoch 46/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5430 - accuracy: 0.7334
Epoch 47/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5427 - accuracy: 0.7327
Epoch 48/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5429 - accuracy: 0.7339
Epoch 49/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.5430 - accuracy: 0.7334
Epoch 50/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5427 - accuracy: 0.7334
Epoch 51/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5427 - accuracy: 0.7336
Epoch 52/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5426 - accuracy: 0.7343
Epoch 53/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5422 - accuracy: 0.7341
Epoch 54/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5424 - accuracy: 0.7335
Epoch 55/100
25724/25724 [==============================] - 5s 182us/sample - loss: 0.5428 - accuracy: 0.7336
Epoch 56/100
25724/25724 [==============================] - 6s 219us/sample - loss: 0.5421 - accuracy: 0.7343
Epoch 57/100
25724/25724 [==============================] - 6s 220us/sample - loss: 0.5426 - accuracy: 0.7322
Epoch 58/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5420 - accuracy: 0.7330
Epoch 59/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5424 - accuracy: 0.7342
Epoch 60/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5423 - accuracy: 0.7341
Epoch 61/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5421 - accuracy: 0.7338
Epoch 62/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.5421 - accuracy: 0.7336
Epoch 63/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5425 - accuracy: 0.7338
Epoch 64/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.5417 - accuracy: 0.7340
Epoch 65/100
25724/25724 [==============================] - 5s 178us/sample - loss: 0.5421 - accuracy: 0.7322
Epoch 66/100
25724/25724 [==============================] - 6s 244us/sample - loss: 0.5420 - accuracy: 0.7333
Epoch 67/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.5420 - accuracy: 0.7350
Epoch 68/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5420 - accuracy: 0.7342
Epoch 69/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.5419 - accuracy: 0.7342
Epoch 70/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5415 - accuracy: 0.7342
Epoch 71/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5418 - accuracy: 0.7336
Epoch 72/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5417 - accuracy: 0.7339
Epoch 73/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5413 - accuracy: 0.7335
Epoch 74/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5414 - accuracy: 0.7338
Epoch 75/100

25724/25724 [==============================] - 3s 110us/sample - loss: 0.5417 - accuracy: 0.7345
Epoch 76/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5413 - accuracy: 0.7343
Epoch 77/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5411 - accuracy: 0.7334
Epoch 78/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5415 - accuracy: 0.7341
Epoch 79/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5411 - accuracy: 0.7353
Epoch 80/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5410 - accuracy: 0.7343
Epoch 81/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5415 - accuracy: 0.7353
Epoch 82/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5414 - accuracy: 0.7338
Epoch 83/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5411 - accuracy: 0.7343
Epoch 84/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5410 - accuracy: 0.7332
Epoch 85/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5411 - accuracy: 0.7333
Epoch 86/100
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5409 - accuracy: 0.7346
Epoch 87/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5406 - accuracy: 0.7336
Epoch 88/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5410 - accuracy: 0.7350
Epoch 89/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5409 - accuracy: 0.7340
Epoch 90/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5407 - accuracy: 0.7349
Epoch 91/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5408 - accuracy: 0.7346
Epoch 92/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5406 - accuracy: 0.7353
Epoch 93/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5406 - accuracy: 0.7345
Epoch 94/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5405 - accuracy: 0.7339
Epoch 95/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5403 - accuracy: 0.7350
Epoch 96/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5407 - accuracy: 0.7350
Epoch 97/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5406 - accuracy: 0.7349
Epoch 98/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5404 - accuracy: 0.7348
Epoch 99/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5403 - accuracy: 0.7349
Epoch 100/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5403 - accuracy: 0.7353

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test.values,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5628 - accuracy: 0.7389
Loss: 0.5519507928214338, Accuracy: 0.738892138004303

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE